@model MVCAppRegister.Areas.Admin.Models.EditButtonModel
<a href="@Url.Action("Edit")@Model.Link" type="button" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-pencil"></span>
    <span>Edit</span>
</a>
